h1 {
    background-color: brown;
    color: white;
    font-style: italic;
}

#table-rows {
    background-color: cyan;
}

.jga-create-btn {
    background-color: green;
    color: white;
}

.wbdv-hidden{
    display: none;
}

.table-border{
    border-style: solid;
    border-radius: 5px;
}

.table-header{
    color: grey;
    background-color: #28a745;
}

.displaypassword{
    -webkit-text-security: circle;
}
